.j_nav{
    background:#9b0000;
    text-align: center;
    font-size: 25px;
}
.j_row{
    background:#607D8B;
}
.j_col{
    display:flex;
    justify-content: flex-end;
    align-items: center;    
    padding-top: 15px;
}